@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

.foldable::after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.foldable.open::after {
    content: '\2212';
}

.foldable-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
